<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>글수정</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="/stylesheet/board.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" language="javascript">
      function popupUpdate(){
        var popUrl = "uploadupdate";
        var popOption ="width=400, height=360, resizable=no, scrollbars=no, status=no;";
        window.open(popUrl,"",popOption);
      }

      function fileName(){
        document.getElementById("FName").value =  document.getElementById("originalFileName").value;
      }

    </script>
  </head>
  <body>
    <nav class="navbar navbar-inverse sidebar" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <h3><p class="text-center"><a href="/main" class="text-muted nounderline">까망이노트</a></p></h3>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <br>
              <li ><a href="/board_list">자유게시판<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-th-list"></span></a></li>
              <li ><a href="#">Q&amp;A<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-question-sign"></span></a><br><br></li>
              <% if (userId) { %>
                <li ><a href="/logout">로그아웃<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-log-out"></span></a></li>
              <% } else { %>
                <li ><a href="/login">로그인<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-log-in"></span></a></li>
              <% } %>
          </ul>
        </div>
      </div>
    </nav>

      <div class="main">
          <div class="main2">
            <h4><strong>글수정</strong></h4><br><br>
        <div class="row">

                <div class="well well-sm">
                  <fieldset>
                  <form action="/board_update" method="post">
                    <input type="hidden" name="originalFileName" id="originalFileName"/>
                    <input type="hidden" name="savedFileName" id = "savedFileName" />
                    <input type="hidden" name="fileSize" id="fileSize" />
                    <input type="hidden" name="filePath" id="filePath" />
                    <input type="hidden" name="post_num" value="<%=rows[0].post_num%>"/>

                    <!-- title input-->
                    <div class="form-group">
                      <div class="col-md-12">
                        <label class="col-md-2 md2 control-label title" for="title">제목</label>
                        <div class="">
                        <input name="post_title" type="text" placeholder="제목을 입력해주세요." class="form-control" value="<%=rows[0].post_title%>"/>
                        </div>
                      </div>
                    </div>

                    <!-- Message body -->
                    <div class="form-group">
                      <div class="col-md-12">
                          <br><label for="message">내용</label>
                        <textarea class="form-control" name="post_content" placeholder="내용을 입력해주세요" rows="15"><%=rows[0].post_content%></textarea><br>
                      </div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-md pull-right btnwrite">글수정</button>

                  </form>

                    <div class="form-group">
                      <div class="col-md-12 btnupload1">
                        <label class="col-md-2 md2 control-label" for="filefile">파일첨부</label>
                            <span style="font-size:16px"><button class="showopacity glyphicon glyphicon-upload btn-md" onclick="popupUpdate()"></button></span>
                      </div>
                    </div>

                    <!-- Form actions -->
                    <div class="form-group">
                      <div class="col-md-12 btnupload2">
                          <input type='button' onclick='fileName()' value='첨부파일확인'/><input type='text' id='FName' value="<%=rows[0].originalFileName%>" style="width:40%" readonly/>
                      </div>
                    </div>
                  </fieldset>
                </div>
              </div>
        	   </div>
      </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>
