<!DOCTYPE html>
<html>
  <head>
    <link href="/stylesheet/form.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>비밀번호 재설정</title>
  </head>

  <body>
    <h1>비밀번호 재설정</h1>
    <div class="form-page">
      <div class="form">
        <section class="messages"> <%= message %> </section>
          <form action="/re_pw" method="post" class="login-form">
            <input type="hidden" name="id" value="<%=rows[0].id%>"/>
            <input type="password"  placeholder="password" name="password"/><br>
            <input type="password"  placeholder="repassword" name="repassword"/><br>
            <button>확인</button>
          </form>
        </div>
      </div>
  </body>
</html>
